// Insert your mixins
@mixin animation($name, $duration, $iterations) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iterations;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iterations;
}